<h1>Editing Profile</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form' %>
    <br>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back', profiles_path %>
  </div>
