<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1 class="display-3">Welcome to MyPrayerTeam.org</h1>
    <p class="lead">Easily keep a team of people up-to-date on your praises and prayer requests!</p>
    <hr class="m-y-md">
    <p>We all want to pray for others and like to know others are praying for us, now there is a simple solution.</p>
    <p class="lead">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %>
      <%= link_to "Log In", new_user_session_path, class: "btn btn-info btn-lg", role: "button" %>
    </p>
  </div>
<% end %>

<% if user_signed_in? %>
  :<% controller.redirect_to user_path %>
<% end %>
