<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>My Prayer Team</h3>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled">
          <% @warriors.each do |warrior| %>
            <li class="text-center">
                <%= link_to profile_path(warrior.id) do %>
                  <img src="<%= warrior.profile.profile_img %>" alt="Profile Pic" id="team-profile-image" class="img-circle" />
                <% end %>
              <br>
              <strong><%= warrior.profile.first_name %> <%= warrior.profile.last_name %></strong>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
