<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>My Prayer Team</h3>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled">
          <% @warriors.each do |warrior| %>
            <li class="text-center"><%= warrior.email %><br><img src="http://placehold.it/150x150" alt="Profile Pic" id="team-profile-image" class="img-circle" /><br><a href="#" class="btn btn-primary btn-sm"><i class="fa fa-user-plus"></i> Follow</a></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
