// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: sans-serif;
}

.notice {
  background: rgb(217, 188, 35);
  //padding: 3%;
}

.alert {
  background: rgb(168, 50, 82);
  //padding:3%;
}

.notice span, .alert span {
  font-style: bold;
  float:right;
}
